body {
  background-color: lightgoldenrodyellow;
  color:purple;
  font-family: sans-serif;
}
table {
  border-collapse: collapse;
}
.frame_table_cell{
  padding: 0px;
}
.roll_cell{
  width: 20px;
  height: 25px;
  margin: 0px;
  padding-left: 10px;
}
.framescore_cell{
  width: 40px;
  height: 25px;
  padding-left: 21px;
}
.frame_table td {
  border-left:none;
  border-right:thin black solid;
  border-top:thin black solid;
  border-bottom:thin black solid;
}

.score_table td:first-child table{
  border-left:thin black solid;
}

.error_message{
  color: red;
}
